<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/style.css">
    <title>Geomancer</title>
</head>
<body>
<div class='big-box'>
<div class='titlebar'><h1>Welcome to Geomancer</h1></div>
<div class='column-container'>
<h3> Beware of the power you are trying to access </h3>
<h4> Security is there for a reason</h4>
<div><a href='/login'><button> Login </button></a></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</div>
</body>
</head>
</html>